<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.loans.mapper.DaishenheMapper">
    <select id="queryPage" parameterType="com.zr.loans.pojo.DaishenheSelectVo" resultType="com.zr.loans.pojo.Loans">
        select
        incomingPartsTime,name,
        incomingPartsChannel,loanType,
        management,pushStatus,
        updateName
        from
        loans
        where  1=1
        <if test="LoanType != null">
            and LoanType = #{LoanType}
        </if>
        <if test=" name != null and name != ''">
            and name = #{name}
        </if>
        <if test=" incomingPartsChannel != null ">
            and incomingPartsChannel = #{incomingPartsChannel}
        </if>
        <if test="management != null">
            and management = #{management}
        </if>
        <if test="status != null ">
            and status = #{status}
        </if>
        limit #{offset},#{pageSize}
    </select>

    <!--总条数-->
    <select id="queryCount" parameterType="com.zr.loans.pojo.DaishenheSelectVo" resultType="java.lang.Integer">
        select
        count(id)
        from
        loans
        where  1=1
        <if test="LoanType != null">
            and LoanType = #{LoanType}
        </if>
        <if test=" name != null and name != ''">
            and name = #{name}
        </if>
        <if test=" incomingPartsChannel != null ">
            and incomingPartsChannel = #{incomingPartsChannel}
        </if>
        <if test="management != null">
            and management = #{management}
        </if>
        <if test="status != null ">
            and status = #{status}
        </if>
    </select>
 </mapper>


