<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.mechant.mapper.MechantMapper">
    <select id="queryPage" parameterType="com.zr.mechant.model.MechantSelectVo" resultType="com.zr.mechant.model.MechantInfo">
        select
        m.merchantName,m.merchantAddress,
        m.businessType,
        co.channelMaintenance,ca.advanceDays,
        ca.oneRate,p.status
        from
        mechant m
        join  mechant_configure co
        on m.id=co.mechant_id
        join mechant_capital ca
        on m.id=ca.mechant_id
        join userlogin u
        on m.mechantInvitationcode=u.invitationCode
        join paydivide p
        on p.loginId=p.loginId
        where 1=1
        <if test="merchantName != null and merchantName != ''">
            and merchantName=#{merchantName}
        </if>
        <if test="channelMaintenance != null">
            and channelMaintenance=#{channelMaintenance}
        </if>
        <if test="status != null">
            and status=#{status}
        </if>
        limit #{offset},#{pageSize}
    </select>

    <!--总条数-->
    <select id="queryCount" parameterType="com.zr.mechant.model.MechantSelectVo" resultType="java.lang.Integer">
        select
        count(p.id)
        from
        mechant m
        join  mechant_configure co
        on m.id=co.mechant_id
        join mechant_capital ca
        on m.id=ca.mechant_id
        join userlogin u
        on m.mechantInvitationcode=u.invitationCode
        join paydivide p
        on p.loginId=p.loginId
        where 1=1
        <if test="merchantName != null and merchantName != ''">
            and merchantName=#{merchantName}
        </if>
        <if test="channelMaintenance != null">
            and channelMaintenance=#{channelMaintenance}
        </if>
        <if test="status != null">
            and status=#{status}
        </if>
    </select>

    <!--批量添加-->
    <insert id="addMp" parameterType="java.util.List">
        insert into mechant_Pic (startTime,endTime) VALUES
        <foreach collection="list" item="item" open="(" separator="),(" close=")">
            #{item.startTime},#{item.endTime}
        </foreach>
    </insert>
    <insert id="addMo" parameterType="java.util.List">
        insert into mechant_Other (pic) VALUES
        <foreach collection="list" item="item" open="(" separator="),(" close=")">
            #{item.pic}
        </foreach>
    </insert>

    <insert id="addMs" parameterType="java.util.List">
        insert into mechant_speedprogress (management,remark,status,code) VALUES
        <foreach collection="list" item="item" open="(" separator="),(" close=")">
            #{item.management},#{item.remark},#{item.status},#{item.code}
        </foreach>
    </insert>

    <!--批量修改-->

    <update id="updatePicList" parameterType="com.zr.mechant.model.Mechant_Pic">
        <foreach collection="list" item="item" separator=";">
            UPDATE  mechant_Pic SET startTime=#{item.startTime},endTime=#{item.endTime} WHERE id =#{item.id}
        </foreach>
    </update>

    <update id="updateOtherList" parameterType="com.zr.mechant.model.Mechant_Other">
        <foreach collection="list" item="item" separator=";">
            UPDATE  mechant_Other SET pic=#{item.pic} WHERE id =#{item.id}
        </foreach>
    </update>

    <update id="updateSpeedProgressList" parameterType="com.zr.mechant.model.Mechant_SpeedProgress">
        <foreach collection="list" item="item" separator=";">
            UPDATE  mechant_speedprogress SET management=#{item.management},remark=#{item.remark},status=#{item.status},code=#{item.code} WHERE id =#{item.id}
        </foreach>
    </update>








</mapper>


