<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.loans.mapper.YifangkuanMapper">
    <select id="queryPage" parameterType="com.zr.loans.pojo.YifangkuanSelectVo" resultType="com.zr.loans.pojo.Loans">
        select
        p.name,m.businessType,
        p.updateName,p.status
        FROM paydivide p join mechant m
        on p.mechant_id=m.id
        where  1=1
        <if test="status != null">
            status=#{status}
        </if>
<!--        <if test="letterTrialTimeStart != null">
            letterTrialTime>#{letterTrialTimeStart}
        </if>
        <if test="letterTrialTimeEnd != null">
            #{letterTrialTimeEnd}>letterTrialTime
        </if>-->
        <if test="merchant != null and merchant != ''">
            m.merchantName=#{merchant}
        </if>
<!--        <if test="management != null">
            management=#{management}
        </if>-->
        <if test="idCode != null and idCode != ''">
            p.idCode=#{idCode}
        </if>
        <if test="name != null and name != ''">
            p.name=#{name}
        </if>
        <if test="loansTime != null">
            loansTime=#{loansTime}
        </if>
        limit #{offset},#{pageSize}
    </select>

    <!--总条数-->
    <select id="queryCount" parameterType="com.zr.loans.pojo.YifangkuanSelectVo" resultType="java.lang.Integer">
        select
        count(p.id)
        FROM paydivide p join mechant m
        on p.mechant_id=m.id
        where  1=1
        <if test="status != null">
            status=#{status}
        </if>
        <!--        <if test="letterTrialTimeStart != null">
                    letterTrialTime>#{letterTrialTimeStart}
                </if>
                <if test="letterTrialTimeEnd != null">
                    #{letterTrialTimeEnd}>letterTrialTime
                </if>-->
        <if test="merchant != null and merchant != ''">
            m.merchantName=#{merchant}
        </if>
        <!--        <if test="management != null">
                    management=#{management}
                </if>-->
        <if test="idCode != null and idCode != ''">
            p.idCode=#{idCode}
        </if>
        <if test="name != null and name != ''">
            p.name=#{name}
        </if>
        <if test="loansTime != null">
            loansTime=#{loansTime}
        </if>
    </select>
 </mapper>


