*{ margin:0; padding:0;}
body{ font-size:12px; font-family:微软雅黑;font-style:normal;}
a{ text-decoration:none}
/*a,a:hover{  transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear;}*/
em, i{font-style: normal;}
ul, ol, li{list-style: none;}
img{ border:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
p{line-height:22px;}
.fl{float: left;}
.fr{float: right;}
.clear{ clear:both; height:0px; width:100%; overflow:hidden;}
.position{position:relative;}
.common_page{
    height:30px;
    text-align: center;
    margin-top: 10px;
}
.common_page a{
    font-size: 14px;
    color: #666;
    height:30px;
    line-height: 30px;
    padding:0 10px;
    border:1px solid #ccc;
    display: inline-block;
}
.common_page a:hover{
    text-decoration: none;
}
.common_page .active{
    background: blue;
    color: #fff;
}
.dialog{
    position: fixed;
    top:0px;
    left: 0px;
    z-index:999;
    width: 100%;
    height:100%;
}.dialog_bg{
    width: 100%;
     height:100%;
     position: fixed;
     top:0;
     left:0;
    background: #000;
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter:alpha(opacity=30);
 }
 .dialog_infos{

     background: #fff;
     position: fixed;
     top:50%;
     left:50%;

 }
 #set-idea .dialog_infos{
     width: 1150px;
     height:600px;
     margin-left:-575px;
     margin-top:-300px;
 }
 #set-shops .dialog_infos{
     width: 312px;
     height: 146px;
     margin-left: -156px;
     margin-top: -73px;
 }
 #money_info .dialog_infos{
     width: 1280px;
     height: 600px;
     margin-left:-640px;
     margin-top:-300px;
     overflow: auto;
 }
 .hidden1{
     display: none;
 }
 #layui-layer-iframe2{
     height: 558px;
 }
#layui-layer-iframe{
    height: 458px;
}
 .zhengxing .dialog_infos{
     width: 1200px;
     height: 500px;
     margin-left: -600px;
     margin-top:-250px;
 }
 #zifang .dialog_infos{
     width: 665px;
     height: 300px;
     margin-left:-332.5px;
     margin-top:-150px;
 }
 #accordion{
     padding: 10px;
 }
.msg{
    width: 200px;
    height: 100px;
    background: rgba(0,0,0,0.5);
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top: -50px;
    display: none;
    border-radius: 5px;
}